*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.container-nav{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 4.8rem;
  background: black;
  border-bottom: 2px solid white; 
}
.box-items{
  display: flex;
  justify-content: flex-end;
  place-items: center;
  width: 95%;
  height: 3.5rem;
  background: black;
}
.items a{
  font-size: 1.2rem;
  display: inline-block;
  padding: 0rem 3rem 0rem 2.5rem;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.items a:hover{
  border: 1px solid white;
  border-radius: 15px;
}
.container-logo{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 18rem;
  background: black;
}
.container-logo img{
  width: 27.2rem;
  height: 9.2rem;
  border: 0px solid white;
  border-radius: 15px;
  cursor: pointer;
}
.container-search{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 4rem;
  background:black;
}
.text-search{
  width: 65%;
  height: 3.5rem;
  border: 1px solid white;
  border-radius: 15px;
  background: #e2e2e2;
}
.container-buttons{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 5rem;
  background: black;
}
.box-buttons{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 95%;
  height: 3rem;
  background: black;
}
.box-buttons input{
  width: 18rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}
.box-buttons input:nth-child(1){
  margin: 0rem 2.5rem 0rem 2.5rem;
  background: black;
}
.box-buttons input:nth-child(2){
  margin: 0rem 2.5rem 0rem 2.5rem;
  background: black;
}
.container-p{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 16.8rem;
  background: black;
}
.container-p p{
  font-size: 1.4rem;
  display: inline-block;
  justify-content: center;
  background: black;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1rem;
  color: white;
}
.container-final{
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 9.1rem;
  background: black;
}
.final-items{
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 95%;
  height: 7.5rem;
  background: black;
}
.final-items p{
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  width: 8rem;
  height: 2rem;
  text-align: center;
  color: white;
}
.final-items a{
  display: flex;
  justify-content: center;
  width: 8rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

.final-items p:hover{
  border-bottom: 5px solid #e2e2e2;
  cursor: pointer;
}
.final-items a:hover{
  border-bottom: 5px solid white;
  cursor: pointer;
}